﻿@model IEnumerable<TestIT.Models.ApplicationUser>

@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th><p>Пользователь</p></th>
    </tr>



    @foreach (var item in Model)
    {
        foreach (var roles in item.Roles)
        {
            foreach (var role in ViewBag.Roles)
            {


                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)


                        @if (roles.RoleId == role.Id)
                        {
                        @role.Name
                        }


                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id, role = role.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    }
</table>
