﻿@model TestIT.Models.ApplicationUser

@{
    ViewBag.Title = "CurrentUser";
}

<h2>CurrentUser</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.DisplayFor(ModelItem => Model.Email)
    @Html.ActionLink("Edit", "Edit", new {/* id = Model.PrimaryKey */}) |
    @Html.ActionLink("Back to List", "Index")
</p>
